*{
    margin: 0;
    font-family:Arial, Helvetica, sans-serif;
}
:root{
    --primary-text:#fff;
    --primary-special-text:#ff8733;
}
section{
    width: 100%;
    min-height:600vh ;
    background-color: #2C3E50;
}
section>header{
    height: 60px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 10px;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.511);
    position: fixed;
    top: 0;
    z-index: 100;
    background-color: #2C3E50;
}
.main-logo{
    font-size: 3.5rem;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-transform: uppercase;
    color:#ECF0F1;
    span{
        color: #F1C40F;
        font-weight: 750;
        font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }
}
header>.nav-item{
    width: 50%;
    display: flex;
    align-items: c;
    justify-content: space-evenly;
    a{
        text-decoration: none;
        font-size: 1.3rem;
        color: var(--primary-text);
    }
    a:hover{
        color:var(--primary-special-text) ;
    }
}
.container{
    height:100vh;
    width: 100%;
    border: white solid 1px;
}
h1{
    color: #fff;
}
.home{
    display: flex;
    align-items: center;
    justify-content: center;
}
.home .left {
    height: 86.8%;
    width: 50%;
    background-color: cornsilk;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px;
    color: darkslategray;
}

.home .left h2 {
    font-size: 2.5rem;
    margin-bottom: 20px;
}

.home .left h2 span {
    color: var(--primary-special-text);
}

.home .left p {
    font-size: 1.2rem;
    line-height: 1.8rem;
    color: #2C3E50;
}

.home .right {
    height: 100%;
    width: 50%;
    background-color: cyan;
    display: flex;
    justify-content: center;
    align-items: center;
}

.profile-img {
    width: 320px;
    height: 390px;
    border-radius: 20px; /* Rounded square */
    object-fit: cover;
    border: 6px solid white;
    box-shadow: 0px 0px 20px rgba(0,0,0,0.3);
}

p{
    font-size: 3rem;
    line-height: 4rem;
    font-family: 'Times New Roman', Times, serif;
    color:#ECF0F1 ;
    padding: 10px 0px;
    justify-content: center;
    align-items:end;
    padding-top: 30px;
}

.project{
height: fit-content;
padding: 20px 0px;
}
.project>.all-projects{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
    flex-wrap: wrap;
    position: relative;
}
.all-projects>.card{
    height: 300px;
    width: 550px;
    background-color: #fff;
    overflow: hidden;
}
.all-projects img{
    width: 100%;
}
.all-projects .detail{
    height: 47%;
    width: 40.7%;
    backdrop-filter: blur(2px);
    background-color: rgba(255, 255, 255, 0.1);
    position: absolute;
    top: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px; 
    /* display: none; */
}
.detail>.btns{
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.detail a{
    background-color: #ff8733;
    padding: 15px 0px;
    margin: 0px 20px;
    display: grid;
    place-items: center;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.534) inset;
}
.detail svg{
    /* height: 100%; */
    width: 15%;
}
.card-para{
    font-size: 1.3rem;
}
.card-wrapper{
    height: 300px;
    width: 550px;
    /* overflow: hidden; */
}